html, body, #root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  background: #F0F4F8;
  overflow: scroll;
}

.container {
  width: 1064px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.client-card-link {
  text-decoration: auto;
}